
  {% extends 'beacon/admin.html' %}


  {% block content %} 
  <div class="container-fluid"> 
  	<div class="row-fluid">

      <div class="span12">
        <div class="row-fluid">
          <div class="span2" style="border-style: dotted;border-width:0px;border-color:#CBDEF1;">
            <!--button id="refresh_btn" class="btn btn-primary">全部分享</button-->
          </div>
            <!--div id="beacon-container" class="beacon-container row span9" style="border-bottom-style: dotted;border-width:1px;border-color:#CBDEF1;">
            </div--> 
        </div><!-- /row-fluid -->
  
        <div class="row-fluid"><!-- 左边 灯塔入口坐标文档 -->
          <div id="beacon-container"  class="beacon-container span2" style="border-style: dotted;border-width:1px;border-color:#CBDEF1;">

            {% for beacon in beacons %}
              <div class="tag-item span12"  style="margin-left:0px;">
                <span id='{{beacon.id}}' name='{{beacon.crt_usr}}' class="label label-info">{{beacon.ttl}}
                <!--span class="badge ">{{beacon.cnt}}</span-->
                </span>
                <!--a class='close' data-dismiss='tag-item' style="float: none;">×</a-->
                <a class="close" data-toggle="modal" href="#myModal"  style="float: none;" data-keyboard="true" data-backdrop="true" >×</a>
              </div>  
            {% endfor %}
          </div>

          <div class="span7"><!-- 中间灯塔similar文档 --> 
            <div class="span12" style="margin-left:0px;">
              <span class="badge">{{ udata.docs|length}}</span>
            </div> 
            {% for doc in udata.docs %}
            <div class="span12 doc-container" style="margin-left:0px;">
            <blockquote>
             <p><h5>
             <a target="_blank" href="{{doc.url}}">{{doc.title}}&nbsp;&nbsp;</a></h5></p>  
             <p ><small>{{doc.domain}}&nbsp;  {{doc.create_time}}&nbsp; <span style="color:green"> {{doc.beaconttl}}&nbsp;  </span> 
             </small></p> 
              {{doc.text}} 
            </blockquote> 
            </div>
            {% endfor %}     
          </div>

          <div class="control-group span3" id="beacon-box"> 
            <div class="alert" id="add-error" style="display:block;">
              <a class="close" data-dismiss="alert">×</a>
              <strong>提示</strong> 请输入灯塔名称再保存<br>
              <!--span class="badge badge-success">当前灯塔</span><br> 
              <span class="badge badge-warning">已分享灯塔</span><br--> 
            </div>
            <input id="beacon_key"  type="hidden" class="uneditable-input" placeholder="灯塔..." value="{{beaconusr}}:{{beaconid}}"> 
            <input id="beacon_id"  type="hidden" class="uneditable-input" placeholder="灯塔..." value="{{beaconid}}"> 
            所属用户<br><input id="beacon_usr"  type="text" class="" placeholder="灯塔所属用户" value="{{beaconusr}}"> 
            <br>灯塔名称<br><input id="beacon_name"  type="text" class="" placeholder="灯塔名称..." value="{{beaconname}}"> 
            <br>描述<br><textarea id="beacon_desc" rows="3"  placeholder="灯塔描述..." >{{beacondesc}}</textarea> 
            <br>新闻长度<br><input id="beacon_mindoc"  type="text" class="" placeholder="灯塔文章长度" value="{{beaconmindoc}}"> 
            <button id="add_btn" class="btn btn-warning">新增灯塔</button>
            <button id="save_btn" class="btn btn-primary">修改保存灯塔</button>
            <!--button id="backup_btn" class="btn btn-primary">备份灯塔</button> 
            <button id="restore_btn" class="btn btn-primary">恢复灯塔</button--> 
            <br><br>
            <div class="span12" style="margin-left:0px;border-style: dotted;border-width:1px;border-color:#CBDEF1;">
            <span class="badge">{{ udata.tags|length}}</span><br>
            {% for tag in udata.tags %}
            <div id ="tag-container" class="tag-container span4" style="margin-left:0px;">
              <input class='cbox' type="checkbox" value="{{tag.id}}" {% if tag.checked %} checked {% endif %}>
               <span id='{{tag.id}}' class="badge badge-info">{{tag.name}}</span>
            </div>
            {% endfor %}  
            <div class="span12" style="margin-left:0px;"> 
            </div> 
            </div>

          </div>
        </div><!-- /row-fluid -->
      </div><!-- /span10 -->
  </div> <!-- /row-fluid -->

 </div> <!-- /container -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">删除灯塔</h3>
  </div>
  <div class="modal-body">
    <p>是否确认删除该灯塔?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    <button id="delete_btn" class="btn btn-primary">确认</button>
  </div>
</div>

{% endblock %} 
{% block script %} 
<script > 
  var beacons = ""
  var delete_beacon = ""
  var delete_id =""
  var beaconusr =""
  var tag_unchk = new Array()
  var doc_unchk = new Array()

  // $("#beacon_desc").keydown(function(event){ 
  //   if(event.keyCode==13 )
  //         window.location.href = '/news/savebeacon/?similarid={{similarid}}&beacon='+$(this).text() ;
  // })

  $('#{{beaconid}}').attr('class', 'label label-success');

  beacon_proc = function() {
      $tag_list_box = $('div.beacon-container');
      $('.label').css('cursor', 'pointer');
      $('.label').click(function(){
        // alert($(this).attr('class'))
        if($(this).attr('class')=='label label-success'){
          // $(this).attr('class', 'label label-success');
        }else{ 
          $(this).attr('class', 'label label-info');  
          // alert('/news/beaconlist/?beaconid='+$(this).attr('id')+'&beaconusr='+$(this).attr('name'));
          window.location.href = '/news/beaconlist/?beaconid='+$(this).attr('id')+'&beaconusr='+$(this).attr('name') ;
        } 
      });
  }
 

  $tag_list_box = $('div.beacon-container');
  $tag_list_box.find('.close').click(function(){ 
      // $tag_list_box.isotope('remove', $(this).parent()); 
      // $(this).parent().remove(); 
      // alert()
      delete_beacon = $(this).parent().find('span').text();
      delete_id = $(this).parent().find('span').attr('id');
      beaconusr = $(this).parent().find('span').attr('name');
      // alert($(this).html());
      $('#myModal').on('show', function () {
        $('#myModal').find('#myModalLabel').text("删除灯塔: "+delete_beacon);
      }) 
  });


  $('#delete_btn').click(function(){
    // alert('/news/beacondelete/?beaconid='+delete_id+'&beaconusr='+beaconusr);
    window.location.href = encodeURI('/news/beacondelete/?beaconid='+delete_id+'&beaconusr='+beaconusr);
  });

  beacon_proc();

  $('#share_btn').click(function(){
    beacon_id = $('#beacon_id').val();
    beacon_name = $('#beacon_name').val();
    beacon_desc = $('#beacon_desc').val();
    if(beacon_name==""){
      alert("灯塔名称不能为空"); 
      return ;
    }
    {%if shared %} 
    window.location.href = encodeURI('/news/beaconsave/?share=0&beaconid='+beacon_id+'&desc='+beacon_desc+'&beaconname='+beacon_name) ;
    {% else %} 
    window.location.href = encodeURI('/news/beaconsave/?share=1&beaconid='+beacon_id+'&desc='+beacon_desc+'&beaconname='+beacon_name) ;
    {% endif %}
  });

  $('#refresh_btn').click(function(){
    window.location.href = encodeURI('/news/beaconrefresh/');
  });
 
  // var doc_selected = new Array();
  $('#add_btn').click(function(){
    beacon_key = $('#beacon_key').val();
    beacon_usr = $('#beacon_usr').val();
    beacon_name = $('#beacon_name').val();
    beacon_desc = $('#beacon_desc').val();
    beacon_mindoc = $('#beacon_mindoc').val();
    if(beacon_name==""){
      alert("灯塔名称不能为空"); 
      return ;
    }
    // alert('/news/beaconsave/?share=1&beaconkey=&desc='+beacon_desc+'&beaconname='+beacon_name+'&beaconusr='+beacon_usr);
    window.location.href = encodeURI('/news/beaconsave/?share=1&beaconkey=&desc='+beacon_desc+'&beaconname='+beacon_name+'&beaconusr='+beacon_usr+'&beaconmindoc='+beacon_mindoc);
    // $('#beacon_id').val("");
    // $('#beacon_name').val("");
    // $('#beacon_desc').val(""); 
  });

  $('#save_btn').click(function(){
    beacon_key = $('#beacon_key').val();
    beacon_id = $('#beacon_id').val();
    beacon_name = $('#beacon_name').val();
    beacon_usr = $('#beacon_usr').val();
    beacon_desc = $('#beacon_desc').val();
    beacon_mindoc = $('#beacon_mindoc').val();
    if(beacon_name==""){
      alert("灯塔名称不能为空"); 
      return ;
    }
    
    // alert('/news/beaconsave/?share=1&beaconid='+beacon_id+'&desc='+beacon_desc+'&beaconusr='+beacon_usr+'&beaconname='+beacon_name+'&beaconkey='+beacon_key);
    window.location.href = encodeURI('/news/beaconsave/?share=1&beaconid='+beacon_id+'&desc='+beacon_desc+'&beaconusr='+beacon_usr+'&beaconname='+beacon_name+'&beaconkey='+beacon_key+'&beaconmindoc='+beacon_mindoc);
  });

</script>
{% endblock %}