
  {% extends 'beacon/admin.html' %}


  {% block content %} 
  <div class="container-fluid"> 
  	<div class="row-fluid">
      <div class="span2">
        留空
      </div>

      <div class="span10">
        <div class="row-fluid">
          <div class="span9">
          <input id="search"  type="text" class="search-query span12" placeholder="搜索"> 
          </div> 
          <div class="span2">
            <button class="btn" id="mybtn" data-loading-text="正在搜索...">搜索</button>&nbsp;&nbsp;<a class="btn" href="javascript:history.back();">返回 &laquo;</a>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span9">
            {% for doc in udata.docs %}
            <div class="span12"  style="margin-left:0px;">
            <blockquote style="margin:0px;padding-bottom:12px;font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;  font: 13px/1.231 sans-serif;">
                <p><a target="_blank" href="{{doc.url}}">{{doc.title}}&nbsp;&nbsp;</a><a class="btn" href="/news/beaconinit/?otype=similar&similarid={{doc.docid}}">相关主题 &raquo;</a></p>
                <p style="font-size: 13px;"><a href="/news/beaconinit/?otype=related&relatedid={{doc.docid}}">{{doc.host}}</a>&nbsp; /&nbsp; {{doc.create_time}}&nbsp;&nbsp;&nbsp;{% for tag in doc.tags %}<span id='{{tag}}' class="badge-wxi-green" style="margin-right:4px;"><a href="/news/beaconinit/?otype=localtag&relatedid={{doc.docid}}&localtag={{tag}}">{{tag.split|join:""}}</a></span>{% endfor %} </p>
                {{doc.text}}
            </blockquote> 
            </div>
            {% endfor %}
          </div>

          <div class="span3">
            <div class="alert" id="alert-message" style="display:block;">
              <a class="close" data-dismiss="alert">×</a>
              <strong>提示:</strong> 勾选相应的灯塔再点击"保存灯塔"
            </div>

            <div id="beacon-container" class="beacon-container row span12" >
            {% for beacon in beacons %}
              <div class="tag-item span12" style="margin-left:0px;"> <input class='cbox' type="checkbox" value="{{beacon.name}}" {% if beacon.hasdoc %} checked {% endif %}>
                <span id='info' class="label label-info">{{beacon.name}}</span><a class='close' data-dismiss='tag-item' style="float: none;">×</a>
              </div>  
            {% endfor %}
            </div>

            <section id="beacon-box">
              <div class="input-append" id="beacon-box">
                <input class="span9" id="beacon_txt" type="text" placeholder="新的灯塔">
                <button id="add_btn" class="btn" type="button">添加灯塔</button>
                <button id="save_btn" class="btn" type="button" >保存灯塔</button>
              </div>
            </section>

          </div>
        </div>
      </div><!-- /span10 -->
  </div> <!-- /row-fluid -->

 </div> <!-- /container -->

{% endblock %} 
{% block script %} 
<script > 
  var beacons = ""
  var checklist = ""

  $("#beacon_txt").keydown(function(event){ 
    if(event.keyCode==13 )
      beacon.add_beacon();
  })

  beacon_proc = function() {
      $tag_list_box = $('div.beacon-container');
      $('.label').css('cursor', 'pointer');
      $('.label').click(function(){
        if($(this).attr('class')=='label label-success'){
          // $(this).attr('class', 'label label-info');
        }else{
          // alert($(this).hasClass('label label-info')+$(this).text());
          $(this).attr('class', 'label label-success'); 
          // alert('/news/listsimilar/?similarid={{similarid}}&beacon='+$(this).text()+'&title={{title}}');
          window.location.href = '/news/listsimilar/?similarid={{similarid}}&beacon='+$(this).text() ;
        }
          //alert($(this).parent().parent().html());
          //$tag_list_box.isotope('close', $(this).parent().parent());
          //$tag_list_box.isotope('insert', "<div class='tag-item' style='display:none'></div>");
      });
  }
 
  beacon_proc();

  $tag_list_box = $('div.beacon-container');
  $tag_list_box.find('.close').click(function(){ 
      // $tag_list_box.isotope('remove', $(this).parent()); 
      $(this).parent().remove();
      beacons += $(this).parent().find('.cbox').val()+"|-|"; 
      checklist+= "2";
  });

  $('#add_btn').click(function(){
      beacon.add_beacon();
  });

  $('#save_btn').click(function(){ 
    $tag_list_box = $('div.beacon-container');
      $tag_list_box.find('.cbox').each(function(){ 
        beacons+=$(this).val()+"|-|";
        if($(this).is(':checked')){
            checklist+= "1"; 
        }else{
            checklist+="0";  
        } 
     });
    // alert('/news/beacon/?similarid={{similarid}}&checklist='+checklist+'&beacons='+beacons+'&title={{title}}');
    //window.location.href = '/news/beaconrelate/?similarid={{similarid}}&checklist='+checklist+'&beacons='+beacons;
        var baseURL = encodeURI('/news/beaconrelate/?otype={{otype}}&objectid={{objectid}}&checklist='+checklist+'&beacons='+beacons);
        //load content for first tab and initialize
        // alert(baseURL);
        // alert("{{objectid}}");
        $('#alert-message').load(baseURL, function() {
            // $('#myTabs').tab(); //initialize tabs
            // $('#alert-message').text('aaa');
        }); 
  });

</script>
{% endblock %}