
{% extends 'beacon/admin.html' %} 
{% block content %} 
<div class="container"> 
	<div class="navbar navbar-inverse  pagination-centered">
  			<!--div class="pagination ">
  				<ul>
  				  <li><a href="#">Prev</a></li>
  				  <li><a href="#">1</a></li>
  				  <li><a href="#">2</a></li>
  				  <li><a href="#">3</a></li>
  				  <li><a href="#">4</a></li>
  				  <li><a href="#">Next</a></li>
  				</ul>
  			</div--> 	
  		</div>
  		
  		<div class="tabbable  tabs-left"> <!-- Only required for left/right tabs -->
  			<ul class="nav nav-tabs">
  				<li ><a href="#tab1" data-toggle="tab">用户反馈</a></li>
  				<li class="active"><a href="#tab2" data-toggle="tab">-----</a></li>
  			</ul>
  			<div class="tab-content">
  				<div class="tab-pane active" id="tab1">
  					<table class="table table-hover table-striped table-bordered table-condensed">
  						<caption>反馈信息</caption>
  						<thead>
  							<tr>
  								<th>time</th>
  								<th>user</th>
  								<th>text</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for feedback in feedbacks %} 
  							<tr class="info">
  								<td>{{feedback.tms}}</td>
  								<td>{{feedback.usr}}</td>
  								<td>{{feedback.tx}}</td>
  							</tr>
  							{% endfor %}
  						</tbody>
  					</table>  
  				</div>
  				<div class="tab-pane" id="tab2">
  					<p>Howdy, I'm in Section 2.</p>
  				</div>
  			</div>
  		</div>
  		


  		{% for user in user_list %}
  		<!--p>
  			{{ user }}
  		</p-->
  		{% endfor %} 
  		
  	</div> <!-- /container -->

  	{% endblock %} 