
{% extends 'beacon/admin.html' %}     

{% block content %} 
<div class="container span12"> 
	  <div class="row-fluid">

      <div class="tabbable tabs-left span9"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">模板参数信息</a></li>
          <li><a href="#tab2" data-target='#tab2'  data-toggle="tab">系统参数信息</a></li>
        </ul>

        <div class="tab-content "> 

          <div class="tab-pane active" id="tab1">
            <form class="well_wxi form-horizontal" method="post" action="/sysparms/" id="sysparms" style="padding-left:10px;"> 
              {% csrf_token %} 
              <input id="parmtype" name="parmtype" type="hidden" class="uneditable-input" value="template"> 
              <fieldset>
              <div class="control-group">
                <legend>模板参数信息修改</legend>
                <label class="control-label" for="fontsize">字体大小</label>
                <div class="controls">  
                <input type="text" id="fontsize" name="fontsize" placeholder="50px" value="{{tempparmsobj.fontsize}}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="fontcolor">字体颜色</label>
                <div class="controls">  
                <input type="text" id="fontcolor" name="fontcolor" placeholder="red"  value="{{tempparmsobj.fontcolor}}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="fontfamily">字体类型</label>
                <div class="controls">  
                <input type="text" id="fontfamily" name="fontfamily" placeholder=' "Arial Hebrew","Microsoft Yahei" 'value="{{tempparmsobj.fontfamily}}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="bkcolor">背景色</label>
                <div class="controls">  
                <input type="text" id="bkcolor" name="bkcolor" placeholder="#f5f5f5"  value="{{tempparmsobj.bkcolor}}" ></p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="padding">间距</label>
                <div class="controls">  
                <input type="text" id="padding" name="padding" placeholder="0px 9px 6px 9px"  value="{{tempparmsobj.padding}}" > 依次定义:上 右 下 左 的边距</p>
                </div>
              </div>
              <div class="control-group">
                <span class="help-block"> </span>
                <label class="control-label"> </label>
                <button type="submit" class="btn">保存</button>
              </div>
              </fieldset>
            </form>
          </div>

          <div class="tab-pane " id="tab2"> 
            <form class="well_wxi form-horizontal" method="post" action="/sysparms/" id="sysparms" style="padding-left:10px;"> 
              {% csrf_token %} 
              <input id="parmtype" name="parmtype" type="hidden" class="uneditable-input" value="system"> 
              <fieldset>
              <div class="control-group">
                <legend>系统参数信息修改</legend>
                <label class="control-label" for="redis_expire">系统超时时间(秒)</label>
                <div class="controls">  
                <input type="text" id="redis_expire" name="redis_expire" disabled placeholder="系统超时时间(秒)" value="{{sysparmsobj.redis_expire}}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="backend_domain">后台域名地址</label>
                <div class="controls">  
                <input type="text" id="backend_domain" name="backend_domain" placeholder="后台域名地址"  value="{{sysparmsobj.backend_domain}}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" >本机对应域名地址</label>
                <div class="controls">  
                <input type="text" id="domain" name="domain" placeholder="本机对应域名地址"  value="{{sysparmsobj.domain}}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">新闻自动过期时间(秒)</label>
                <div class="controls">  
                <input type="text" id="doc_expire" name="doc_expire" placeholder="新闻自动过期时间(秒)"  value="{{sysparmsobj.doc_expire}}" >
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">频道更新间隔时间(秒)</label>
                <div class="controls">  
                <input type="text" id="beacon_interval" name="beacon_interval" placeholder="频道更新间隔时间(秒)" value="{{sysparmsobj.beacon_interval}}">
                </div>
              </div> 
              <div class="control-group">
                <label class="control-label">频道从后台取新闻条数</label>
                <div class="controls">  
                <input type="text" id="beacon_news_num" name="beacon_news_num" placeholder="频道从后台取新闻条数" tabindex="2" value="{{sysparmsobj.beacon_news_num}}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">流量阀(请求数)</label>
                <div class="controls">  
                <input type="text" id="quantity" name="quantity" placeholder="流量阀(请求数)" tabindex="2" value="{{sysparmsobj.quantity}}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">流量阀限制时间段(秒)</label>
                <div class="controls">  
                <input type="text" id="quantity_duration" name="quantity_duration" placeholder="流量阀限制时间段(秒)" tabindex="2" value="{{sysparmsobj.quantity_duration}}">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">日志级别</label>
                <div class="controls">  
                <input type="text" id="loglevel" name="loglevel" placeholder="日志级别" tabindex="2" value="{{sysparmsobj.loglevel}}"><p class="help-block">日志级别为(debug,info,warn,error)</p>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">异步处理失败重试次数</label>
                <div class="controls">  
                <input type="text" id="failed_retry_times" name="failed_retry_times" placeholder="异步处理失败重试次数" tabindex="2" value="{{sysparmsobj.failed_retry_times}}">
                </div>
              </div>
              <div class="control-group">
                <span class="help-block"> </span>
                <label class="control-label"> </label>
                <button type="submit" class="btn">保存</button>
              </div>
              </fieldset>
            </form>
          </div>

        </div>  
      </div> <!-- tabbable-->
        <div class="span3">
          <div class="alert" id="alert-message" style="display:block;">
            <a class="close" data-dismiss="alert">×</a>
            <strong>提示:</strong> {% if err_message %}<br>{{err_message}} {% else %}
            <br> <br>!{% endif %}
          </div> 
        </div>

    </div> <!-- /row-fluid -->

</div> <!-- /container -->

{% endblock %} 
{% block script %} 
<script >
  // $('#sysparms').attr('class', 'active');
  
  $("#beacon_txt").keydown(function(event){ 
    if(event.keyCode==13 )
      beacon.add_beacon();
  })

  beacon_proc = function() {
      $tag_list_box = $('div.beacon-container');
      $('.label').css('cursor', 'pointer');
      $('.label').click(function(){
        if($(this).attr('class')=='label label-success'){
          // $(this).attr('class', 'label label-info');
        }else{
          // alert($(this).hasClass('label label-info')+$(this).text());
          $(this).attr('class', 'label label-success');
          // alert('/news/listsimilar/?similarid={{similarid}}&beacon='+$(this).text()+'&title={{title}}');
          window.location.href = '/news/listsimilar/?similarid={{similarid}}&beacon='+$(this).text() ;
        }
          //alert($(this).parent().parent().html());
          //$tag_list_box.isotope('close', $(this).parent().parent());
          //$tag_list_box.isotope('insert', "<div class='tag-item' style='display:none'></div>");
      });
  } 
  beacon_proc();

  $tag_list_box = $('div.beacon-container');
  $tag_list_box.find('.close').click(function(){ 
      // $tag_list_box.isotope('remove', $(this).parent()); 
      $(this).parent().remove();
      beacons += $(this).parent().find('.cbox').val()+"|-|"; 
      checklist+= "2";
  });

  $('#add_btn').click(function(){
      beacon.add_beacon();
  });

</script>
{% endblock %}