/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
/mybonds\apps\geeknews/*.pyc
