<!DOCTYPE html> 
<html lang="en" class="js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8"> 
<!--meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"-->
<title>设置新密码</title> 

<link rel="stylesheet" href="/site_media/static/apply/style.css">
<link rel="stylesheet" href="/site_media/static/apply/reg.css"> 
<script type="text/javascript" async="" src="/site_media/static/apply/ga.js"></script>
<script src="/site_media/static/apply/jquery-latest.min.js"></script>
<script src="/site_media/static/apply/jquery.placeholder.js"></script>
</head>
<body>
<div id="apply">
	<!--h1>新闻 - 发现更大的世界</h1-->
	{% if err_message %}
	<div class="failure" id="summary" >
		<ul> 
		<li><i></i><span>{{err_message}}</span></li>  
		</ul>
	</div>
	{% endif %}
	<form class="login" method="post" action="/apply/setnewpassword/" id="regist"> 
		{% csrf_token %}  
		<div>
            <input id="token"  type="hidden" class="uneditable-input" name="token" value="{{token}}"> 
			<label class="aria" for="password">密码</label>
			<input class="text" id="password" name="password" placeholder="密码" type="password" tabindex="2" value="">
		</div> 
		<input class="button" type="submit" value="重设密码">
	</form>
	<div class="footer"> 
	</div>
</div>
<div class="reg"> 
	<a href="/apply/login/" class="register" style="color:white;font-weight:bold">登录</a>
</div> 
</body>
</html>